<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caronae.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3169C8F1BED842D00A0D428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3169CAB1BED842D00A0D428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3169CB61BED842D00A0D428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
